.projects{
    min-height: 900px;
    background-color: #85CDCA;
    
    &_desc{
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        
        
    }
    p{
        font-size: 20px;
    
        @media(max-width:400px)
        {
            padding-left:10px;
        }
       
    }
    
    h1{
        padding-top: 40px;
        text-align: center;
        font-size: 80px;
        font-weight: 400;
        text-transform: capitalize;
    
        
    }
    
    h2{
        font-weight: 600;
        transition: all 0.3s ease-in;
        font-size: 32px;
    
        &:hover{
            font-size: 36px;
        }
    }
    li{
        height: 400px;
        width: 400px;
        list-style: none;
        background-color: rgba(255, 255, 255, .15);  
         backdrop-filter: blur(10px);
         margin-bottom: 20px;
        
    }
       
    ul{
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 0px;
    }
    
        &_image{
        width:300px;
        height: 250px;
        margin-bottom: 20px;
        transition: all 0.3s ease-in ;
    
        &:hover{
            height:270px ;
            width:320px ;
        }
    
    }
    }

    .contact{
        margin-top: 100px;
        
        h1{
            font-size: 38px;
        }
    }